#header {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e5e7;
  height: 62px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

#header-color-line {
  background: #f7f9fa;
  height: 6px;
  background-image: linear-gradient(90deg,#34495e,#34495e 25%,#9b59b6 0,#9b59b6 35%,#3498db 0,#3498db 45%,#62cb31 0,#62cb31 55%,#ffb606 0,#ffb606 65%,#e67e22 0,#e67e22 75%,#e74c3c 85%,#e74c3c 0,#c0392b 0,#c0392b);
  background-size: 100% 6px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
}

#logo-fatturare {
  width: 180px;
  padding: 2px 20px;
  background-color: #f7f9fa;
  border-bottom: 1px solid #e4e5e7;
}

.highligth-div-header {
  background-color: #f7f9fa;
  border-right: 1px solid #e4e5e7;
}

#icons-section {
  height: 100%;
  width: calc(100% - 180px);
}

.icon-div {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon {
  color: #b6b3b3;
  font-size: 20px;
  height: 62px;
  padding: 0 25px;
  width: 100%;
}

.icon:hover {
  background-color: #f7f8fa;
}

.icon-menu {
  padding: 0 20px;
  font-size: 18px;
  border-bottom: 1px solid #e4e5e7;
}

.icon-menu:hover {
  background-color: #f1f4f6;
}

.icon:last-child {
  font-size: 25px;
  transform: rotate(270deg);
  width: 56px;
}
