#main-block-new-client {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-top: 2px solid #62cb31;
    width: 100%;
}

#form-section {
    gap: 30px;
    padding: 20px 5%;
}

#form-header-new-client button {
    font-size: 14px;
    height: 34px;
}

#form-header-new-client a {
    border: 1px solid #dddddd;
    font-size: 14px;
    height: 34px;
}

#footer-form {
    align-items: flex-start;
    justify-content: space-around;
    background-color: #f7f9fa;
    border-top: 1px solid #e4e5e7;
    height: 55px;
    font-size: 12px;
    padding: 10px 15px;
}

#footer-form button{
    font-size: 14px;
    height: 34px;
}

#footer-form button:first-child{
    border: 1px solid #dddddd;
}

#form {
    gap: 15px;
    width: 100%;
}

#form > div {
    align-items: stretch;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#form label {
    gap: 5px;
    font-weight: 600;
    justify-content: flex-end;
    width: 180px;
}

#form input{
    width: 100%;
}

.input-with-icon {
    align-items: center;
    width: 100%;
}

.input-with-icon div{
    align-items: center;
    background-color: #f7f9fa;
    border: 1px solid #dddddd;
    border-radius: 5px;
    display: flex;
    height: 38px;
    justify-content: center;
    width: 36px;
}

