* {
  box-sizing: border-box;
  color: #6a6c6f;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body, main {
  background-color: #F1F3F6;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

#main {
  flex-flow: wrap;
  height: calc(100% - 40px);
  padding-bottom: 56px;
  position: absolute;
  right: 0;
  top: 56px;
  width: calc(100% - 180px);
}
