{% extends "base.twig" %}

{% block title %}Dashboard - Fatturare{% endblock %}

{% block additional_style %}
    <link href="/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div>Olá</div>
{% endblock %}
