<aside id='aside' class="d-flex flex-column">
    <div class="flex-center aside-itens logo-omniasoft">
        <img style="width: 100px;" src="/images/logo_omniasoft.png" class="img-fluid" alt="Logo Omniasoft">
        <div class="flex-center flex-column">
            <span>MILLENNIUM SYSTEM</span>
            <small>Opzioni </small>
        </div>
    </div>
    <ul class="d-flex flex-column px-0">
        <li id='dashboard-button' class="d-flex li-item aside-itens">
            <div>
                <i class="bi bi-speedometer2"></i>
            </div>
            <span>DASHBOARD</spam>
        </li>
        <li class="d-flex li-item aside-itens">
            <div>
                <i class="bi bi-calendar3"></i>
            </div>
            <span>SCADENZIARIO</spam>
        </li>
        <li class="d-flex li-item aside-itens">
            <div>
                <i class="bi bi-person-plus-fill"></i>
            </div>
            <span>FORNITORI</spam>
        </li>
        <li id='clienti-button' class="d-flex li-item aside-itens">
            <div>
                <i class="bi bi-people-fill"></i>
            </div>
            <span>CLIENTI</spam>
        </li>
        <li class="d-flex li-item aside-itens">
            <div>
                <i class="bi bi-receipt"></i>
            </div>
            <span>FATTURE RICEVUTE</spam>
        </li>
        <li class="d-flex li-item aside-itens">
            <div>
                <i class="bi bi-receipt"></i>
            </div>
            <span>FATTURE EMESSE</spam>
        </li>
        <li class="d-flex li-item aside-itens">
            <div>
                <i class="bi bi-heart-pulse-fill"></i>
            </div>
            <span>SISTEMA TS</spam>
        </li>
        <li class="d-flex li-item aside-itens">
            <div>
                <i class="bi bi-boxes"></i>
            </div>
            <span>PRODOTTI</spam>
        </li>
        <li class="d-flex li-item aside-itens">
            <div>
                <i class="bi bi-wrench"></i>
            </div>
            <span>UTILITY</spam>
        </li>
    </ul>
</aside>