<footer id="footer" class="flex-center">
    <p>
        © 
        <a href="http://www.omniasoft.it">Omniasoft</a> -
        <a href="https://www.fatturare.cloud/privacy" target="_blank">Privacy</a> -
        <a href="https://www.fatturare.cloud/termini-di-servizio" target="_blank">Termini di Servizio</a>
    </p>
</footer>