<header id="header" class="d-flex">
    <div class="flex-center highligth-div-header header-elements" id="logo-fatturare">
        <img src="/images/logo.png" style="width: 140;" alt="Logo Fatturare">
    </div>
    <div id="icons-section" class="d-flex header-elements justify-content-between">
        <div class="highligth-div-header icon-menu px-4 flex-center">
            <i class="bi bi-list"></i>
        </div>
        <ul class="icon-div flex-center">
            <li class="icon flex-center"><i class="bi bi-megaphone"></i></li>
            <li class="icon flex-center"><i class="bi bi-gear"></i></li>
            <li class="icon flex-center"><i class="bi bi-box-arrow-in-down"></i></li>
        </ul>
    </div>
</header>