<table id='assets-view' class='p-4 cards' style="width: 100%">
    <tbody class='h-100 flex-justify-between flex-column'>
        <tr class='align-items-start pb-10'>
            <td>Clienti</td>
            <td class='text-success'>{{ clienti }}</td>
        </tr>
        <tr class='align-items-center pb-10'>
            <td>Fornitori</td>
            <td class='text-success'>{{ fornitori }}</td>
        </tr>
        <tr class='align-items-end'>
            <td>Prodotti</td>
            <td class='text-success'>{{ prodotti }}</td>
        </tr>
    </tbody>
</table>