<table style="width: 100%">
    <tbody>
        <tr>
            <td>Clienti</td>
            <td>{{ clienti }}</td>
        </tr>
        <tr>
            <td>Fornitori</td>
            <td>{{ fornitori }}</td>
        </tr>
        <tr>
            <td>Prodotti</td>
            <td>{{ prodotti }}</td>
        </tr>
    </tbody>
</table>