{% block additional_script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

<div>
    <canvas id="myChart" width="400" height="200"></canvas>
</div>


{% block additional_script_bottom %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const chartData = {{ chart | raw }};
            const ctx = document.getElementById("myChart").getContext("2d");
            new Chart(ctx, chartData);
        });
    </script>
{% endblock %}