<div class="modal-content">
    <div class="color-line"></div>
    <div class="modal-header">
        <h2>Rimozione Cliente</h2>
        <button type="button">x</button>
    </div>
    <div>
        <p>Sei sicuro di voler rimuovere il cliente ?</p>
    </div>
    <div>
        <button type="button" class="btn btn-default">Chiudi</button>
        <button type="submit" class="btn btn-danger">Prosegui</button>
    </div>
</div>